@import '../../styles/color-gradient.scss';

.multi-chart-container {
  padding: 0px;
  border: 0px;
  overflow: hidden;

  .multi-chart-info {
    padding-left: 10px;
    font-size: 13px;
  }
}

#multi-chart {
  height: 128px;
}

.bin-up {
   background-image: url('http://localhost:8088/images/up.svg');
   background-size: contain;
   background-repeat: repeat-y;
}

.bin-down {
  background-image: url('http://localhost:8088/images/down.svg');
  background-size: contain;
  background-repeat: repeat-y;
}
