#chart-wrapper {
  padding: 10px;
}

.forecast-chart {
  height: 280px;
}

#forecast-chart {
  min-width: 400px;
  height: 400px;
  margin: 0 auto;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}

.chart-wrapper .chart-title {
  color: #525252;
  font-size: 16px;
  font-weight: 800;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.chart-loader {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
