.settings-container {
  margin: 50px;
}

#app-settings {
  padding: 10px;
}

#alert-settings {
  span {
    margin: 0 5px 0 3px;
  }
  input {
    width: 50px;
  }
  border-bottom: 1px solid white;
}

input[type='radio'] {
  width: 20px!important;
}

span.select {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid gray;
  vertical-align: middle;
  border-radius: 3px;
}

span.red {
  background-color: red;
}

span.orange {
  background-color: orange;
}

span.yellow {
  background-color: yellow;
}
