// map/slider/Slider.scss

.slider {
  z-index: 1000;
  width: 95%;
  margin: auto;

  .noUi-base {
    border: 1px solid black;
    border-radius: 0px;
  }

  .noUi-connect {
    background-color: #428bca;
    border: none;
  }

  .noUi-handle {
    border: 1px solid #444444;
  }

  .noUi-target {
    background-color: #d6d6d6;
  }

  .noUi-pips-horizontal {
    height: 50px;
  }
}