#wind-map {
  border: 1px solid #444;
}

.mapboxgl-popup {
  z-index: 100000;
}

#timezoom {
  input {
    margin: 0px;
    padding: 0px;
    width: 80px;
    display: inline;
    vertical-align: middle;
  }

  div {
    padding: 0px;
    margin: 0px;
    display: inherit;
    vertical-align: top;
    text-align: right;
  }
}

.map-popup {
  font-family: consolas;
  width: 400px;

  td {
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 6px;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  .right {
    text-align: right;
  }
  .severe {
    background-color: red;
    font-weight: bold;
    color: #fffac2;
  }
  .moderate {
    background-color: #fffac2;
    font-weight: bold;
    color: red; 
  }
}

#style-menu {

  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 20000;
  color: white;

  input {
    margin: 0px 5px;
  }
}