// map/slider/Slider.scss
.slider-container {

  i {
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    width: 20px;

    &:hover {
      background-color: rgba(131, 218, 125, 0.15);
    }
  }

  .backwards {
    float: left;
    margin-top: 5px;
  }

  .forwards {
    float: right;
    margin-top: -13px;
  }

  a {
    color: #444444;

    &:hover {
        color: rgba(23, 130, 0, 1);
     }
  }
}

.slider {
  z-index: 1000;
  width: 94%;
  margin: auto;
  margin-top: 10px;

  .noUi-base {
    border: 1px solid black;
    border-radius: 0px;
  }

  .noUi-connect {
    background-color: #428bca;
    border: none;
  }

  .noUi-handle {
    border: 1px solid #444444;
  }

  .noUi-target {
    background-color: #d6d6d6;
  }

  .noUi-pips-horizontal {
    height: 50px;
  }

  .noUi-handle {
    width: 27px;
    height:20px;
    left: -14px;
    top: -5px;
  }

  .noUi-handle:before {
    left: 10px;
    top: 3px;
  }

  .noUi-handle:after {
    left: 14px;
    top: 3px;
  }  
}
.noUi-horizontal {
  height: 14px;
}

