#wind-map {
  border: 1px solid #444;
  border-radius: 3px 3px 0px 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.mapboxgl-popup {
  z-index: 100000;
}

#timezoom {
  input {
    margin: 0px;
    padding: 0px;
    width: 80px;
    display: inline;
    vertical-align: middle;
  }

  div {
    padding: 0px;
    margin: 0px;
    display: inherit;
    vertical-align: top;
    text-align: right;
  }
}

#style-menu {

  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 20000;
  color: white;

  input {
    margin: 0px 5px;
  }
}
